<div class="well final">
  <h3 class="text-center">Sorry, you have no more money left!</h3>
  <h4 class="text-center">Better luck next time!</h4>
  <br/>
  <br/>
  <p class="text-error text-center"><em>If you think you're suffering from gambling addiction, please seek help elsewhere.</em></p>
</div>
